NODE_ENV=
PORT=
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
FRONTEND_URL=
REFRESH_TOKEN_SECRET=

# Email 
SERVICE=
MAIL_USER=
MAIL_PASS=

# Supabase
SUPABASE_PROJECT_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_API_KEY=